<a href="https://colab.research.google.com/github/Gribel10/Progralll-Semi-2025/blob/main/Te_damos_la_bienvenida_a_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#Suma
def suma(num1, num2):
  return num1 + num2

In [18]:
print("La suma de 5 + 8 = ", suma(5,8))

La suma de 5 + 8 =  13

In [20]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
respuesta = suma(num1, num2)
print("La suma es: ", respuesta)

Num1: 7
Num2: 8
La suma es:  15.0

In [28]:
def celsiusFarenheit(c):
  return c*1.8 + 32

In [34]:
 c = int(input("Grados c: "))
f = celsiusFarenheit(c)
print("F: ", f)

Grados c: 38
F:  100.4

In [35]:
def farenheitCelsius(f):
  return (f-32) * 5/9

f = float(input("F: "))
c = farenheitCelsius(f)
print("C: ", c)

F: 5
C:  -15.0

In [36]:
def celsiusKelvin(c):
  return c + 273.15

c = float(input("C: "))
k = celsiusKelvin(c)
print("K: ", k)

C: 4
K:  277.15

In [ ]:
def sueldo(numHrs, valorXhr):
  sueldo = numHrs * valorXhr * 30
  return sueldo

In [ ]:
numHrs = float(input("Hrs: "))
valorXhr = float(input("Valor Xhr: "))
sueldo = sueldo(numHrs, valorXhr)

print("Sueldo: ", sueldo)

In [43]:
def expoenciacion(b,e):
  return b**e

b = float(input("Base: "))
e = float(input("Exponente: "))

resultado = expoenciacion(b,e)
print("El Numero: ", b, ", elevado a ",e, ", el resultado es: ", resultado)

Base: 8
Exponente: 3
El Numero:  8.0 , elevado a  3.0 , el resultado es:  512.0